<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Start Tyhmeleaf</title>
</head>
<body>
	
	<h1>DevOps Test Project</h1>
	<br>
	<h2>Static</h2>
	<a href="/Admin-startbootstrap/index.html">Admin</a>
	<a href="/business/index.html">business</a>
	<a href="/caminar/index.html">caminar</a>
	<hr>
	<h2>JSP</h2>
	<a href="/theme/jsp/admin">Admin</a>
	<a href="/theme/jsp/business">business</a>
	<a href="/theme/jsp/caminar">caminar</a>
	<hr>
	<h2>Thymeleaf</h2>
	<a href="/theme/thymeleaf/admin">Admin</a>
	<a href="/theme/thymeleaf/business">business</a>
	<a href="/theme/thymeleaf/caminar">caminar</a>

	<p th:test = "'Hello, ' + ${mgs} + '!'"></p>
</body>
</html>